body {
    line-height: 1.6;
    display: flex; /* Añade display: flex para que el cuerpo ocupe toda la altura de la ventana */
    flex-direction: column; /* Asegura que los elementos se coloquen en columna */
    min-height: 100vh; /* Asegura que el cuerpo ocupe al menos toda la altura de la ventana */
    background-color: #f9f9f9;
    transition: background-color 0.3s ease, color 0.3s ease;
}

header {
    background-color: #f2f2f2;
    color: #333;
    text-align: center;
    padding: 20px 0;
}

header h1 {
    font-size: 24px;
    margin: 0;
}

main {
    flex-grow: 1; /* Hace que el main crezca para ocupar todo el espacio disponible */
    padding: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: #f9f9f9;
}

.team-member {
    margin-top: 30px;
    padding-top: 20px;
    border-radius: 50px;
    text-align: center;
    margin-bottom: 40px;
    flex-basis: 30%; /* Ajusta el ancho de cada miembro */
    background-color: #fff;
}

.team-member:hover {
    background-color: #ccc;
}

.team-member img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 10px;
    border: 4px solid #7ecbfe9b;
    transition: transform 0.3s ease;
}

.team-member img:hover {
    transform: scale(1.1);
}

.team-member h2 {
    font-size: 20px;
    margin-bottom: 5px;
}

.team-member p {
    padding-left: 25px;
    padding-right: 25px;
    font-size: 16px;
    color: #666;
    margin-bottom: 10px;
}

.social-icons {
    display: flex;
    justify-content: center;
}

.social-icons a {
    display: inline-block;
    margin: 5px;
    border-radius: 50%;
    overflow: hidden;
    width: 40px;
    height: 40px;
}

.social-icons img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.back-to-home {
    text-align: center;
    margin-top: 10px;
    margin-bottom: 40px;
}

.back-to-home a {
    align-items: center;
    color: #333;
    font-size: 16px;
    text-decoration: none;
    padding: 10px 20px;
    border: 2px solid #333;
    border-radius: 8px;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.back-to-home a:hover {
    background-color: #333;
    color: #fff;
}

footer {
    background-color: #333;
    text-align: center;
    padding: 20px 0;
    font-size: 14px;
    color: #fff;
}

.team-member {
    position: relative;
}

.message-icon {
    position: absolute;
    top: 0;
    right: 0;
    margin: 10px;
    text-align: center;
    color: #666;
    text-decoration: none;
    transition: color 0.3s ease;
}

.message-icon img {
    width: 50px;
    height: 50px;
    border: none;
    vertical-align: middle;
}

/*Efecto de pulso sobre el icono correo*/
.message-icon:hover {
    color: #333;
}

.pulse {
    animation: pulseAnimation 2s infinite;
  }
  
  .pulse:hover {
    animation-play-state: paused; /* Pausa la animación en hover */
  }
  
  @keyframes pulseAnimation {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.1);
    }
    100% {
      transform: scale(1);
    }
  }

@media screen and (max-width: 900px) {
    main {
        padding: 20px;
        justify-content: center; /* Centrar el contenido en pantallas pequeñas */
    }
    
    .team-member {
        flex-basis: 100%; /* Cambia el ancho de cada miembro en pantallas pequeñas para que ocupen una columna completa */
    }
}
