/* Estilos para la sección de equipo */
.team-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 50px 0;
    background-color: #f9f9f9;
}

.team-section .team-introduction {
    text-align: center;
    margin-bottom: 30px;
}

.team-section .team-introduction h2 {
    text-align: center;
    font-size: 28px;
    padding-left: 25px;
    padding-right: 25px;
    padding-bottom: 15px;
    font-weight: bold;
    color: #333;
}

.team-section .team-introduction p {
    text-align: center;
    font-size: 16px;
    padding-left: 30px;
    padding-right: 30px;
    color: #666;
}

.team-section .wrapper {
    max-width: 1100px;
    width: 100%;
    position: relative;
}

.team-section .wrapper i {
    top: 65%;
    height: 50px;
    width: 50px;
    cursor: pointer;
    font-size: 1.25rem;
    position: absolute;
    text-align: center;
    line-height: 50px;
    background: #7ecbfe4e;
    border-radius: 50%;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.23);
    transform: translateY(-50%);
    transition: transform 0.1s linear;
}

.team-section .wrapper i:active {
    transform: translateY(-50%) scale(0.85);
}

.team-section .wrapper i:first-child {
    left: 10px;
}

.team-section .wrapper i:last-child {
    right: 10px;
}

.team-section .carousel {
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: calc((100% / 3) - 12px);
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    gap: 16px;
    border-radius: 8px;
    scroll-behavior: smooth;
    scrollbar-width: none;
}

.team-section .carousel::-webkit-scrollbar {
    display: none;
}

.team-section .carousel.no-transition {
    scroll-behavior: auto;
}

.team-section .carousel.dragging {
    scroll-snap-type: none;
    scroll-behavior: auto;
}

.team-section .carousel.dragging .card {
    cursor: grab;
    user-select: none;
}

.team-section .carousel :where(.card, .img) {
    display: flex;
    justify-content: center;
    align-items: center;
}

.team-section .carousel .card {
    scroll-snap-align: start;
    height: 342px;
    list-style: none;
    background: #fff;
    cursor: pointer;
    padding-bottom: 15px;
    flex-direction: column;
    border-radius: 8px;
}

.team-section .carousel .card .img {
    background: #7ecbfe9b;
    height: 148px;
    width: 148px;
    border-radius: 50%;
}

.team-section .carousel .card .img img {
    width: 140px;
    height: 140px;
    border-radius: 50%;
    object-fit: cover;
    border: 4px solid #fff;
}

.team-section .carousel .card h2 {
    font-weight: 500;
    font-size: 1.56rem;
    margin: 30px 0 5px;
}

.team-section .carousel .card {
    transition: background-color 0.3s ease;
    /* Agrega una transición para el efecto */
}


/* Agrega un sombreado al pasar el mouse por encima de la tarjeta */
.team-section .carousel .card:hover {
    background-color: #f2f2f2;
}

/* Estilos para los iconos de redes sociales */
.team-section .carousel .card .social-icons {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.team-section .carousel .card .social-icons a {
    margin: 0 8px;
    /* Aumenta el espacio entre los iconos */
    /* Ajusta el tamaño de los iconos */
    width: 40px;
    height: 40px;
    border-radius: 50%;
    overflow: hidden;
    transition: transform 0.3s, box-shadow 0.3s;
    /* Agrega una transición para el efecto */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    /* Agrega una sombra inicial */
}

.team-section .carousel .card .social-icons img {
    width: 100%;
    /* Asegura que la imagen del icono llene todo el espacio */
    height: 100%;
}

/* Efecto al pasar el mouse por encima de los iconos */
.team-section .carousel .card .social-icons a:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    /* Cambia la sombra al pasar el mouse por encima */
    transform: translateY(-2px);
    /* Eleva ligeramente el icono */
}

/* Estilos para la caja "About More" */
.about-more-box {
    display: flex;
    /* Cambiamos el display a inline-block para que aparezca debajo del texto */
    background-color: #ffffff28;
    padding: 15px;
    border-radius: 8px;
    text-align: center;
    margin-top: 40px;
    /* Reducimos la separación superior */
    margin-bottom: 20px;
    text-decoration: none;
    color: #333;
    font-size: 18px;
    font-weight: bold;
    transition: background-color 0.3s ease;
    max-width: 300px;
    margin: 0 auto;
    /* Centramos horizontalmente la caja */
    border: 2px solid #333;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* Agregar margen para alejarlo del carrusel */
    margin-top: 40px;
}

/* Efecto al pasar el mouse por encima de la caja */
.about-more-box:hover {
    background-color: #333;
    color: #fff; /* Cambiar el color del texto al pasar el ratón sobre la caja */
}

@media screen and (max-width: 900px) {
    .team-section .wrapper .carousel {
        grid-auto-columns: calc((100% / 2) - 9px);
    }
}

@media screen and (max-width: 600px) {
    .team-section .wrapper .carousel {
        grid-auto-columns: 100%;
    }
}