/*Seccion del encabezado*/
header {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #f2f2f2;
    z-index: 1;
    width: 100%;
    box-sizing: border-box;
}

header h1 {
    font-size: 24px;
}

header.sticky {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}

nav ul {
    list-style: none;
    display: flex;
}

nav ul li {
    margin-right: 10px;
}

nav ul li a {
    text-decoration: none;
    color: #333;
    font-size: 16px;
    font-family: "Helvetica Neue", Arial, sans-serif;
    position: relative;
}

nav ul li a:hover {
    text-decoration: none;
} 

nav ul li a.active {
    background-color: #333;
    color: #fff;
    padding: 5px 10px;
    border-radius: 4px;
}

.navbar .menu-hamburger {
    display: none;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    z-index: 3;
}

/*Icono hamburguesa animado*/
.bar1, .bar2, .bar3 {
    width: 35px;
    height: 5px;
    background-color: #333;
    margin: 6px 0;
    transition: 0.4s;
}

.change .bar1 {
    transform: translate(0, 11px) rotate(-45deg);
}

.change .bar2 {
    opacity: 0;
}

.change .bar3 {
    transform: translate(0, -11px) rotate(45deg);
}
/*Fin del efecto Icono hamburguesa animado*/

@media screen and (max-width: 900px) {
    header {
        flex-direction: column;
        align-items: center;
    }

    .navbar .menu-hamburger {
        display: block;
        position: absolute;
        top: 50px;
        right: 50px;
        width: 35px;
        z-index: 2;
    }
    
    .nav-links {
        top: 0;
        left: 0;
        position: absolute;
        background-color: rgba(255, 255, 255, 0.278);
        backdrop-filter: blur(8px);
        width: 100%;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: -100%;
        transition: all 0.5s ease;
        pointer-events: none;
        z-index: 2;
    }

    .mobile-menu {
        margin-left: 0;
        pointer-events: auto;
    }

    .nav-links ul {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .navbar .nav-links ul li {
        margin: 25px 0;
        font-size: 1.2em;
    }
}

/* Estilos para la sección de inicio */
.inicio-section {
    padding: 50px 0;
    background-color: #f9f9f9;
}

.inicio-section .wrapper {
    max-width: 1100px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.inicio-section .content {
    flex: 1;
}

.inicio-section h2 {
    font-size: 28px;
    font-weight: bold;
    color: #333;
    padding-left: 25px;
    margin-bottom: 20px;
}

.inicio-section p {
    font-size: 16px;
    padding-left: 25px;
    line-height: 1.6;
    color: #666;
    margin-bottom: 30px;
}

.inicio-section .image-container {
    margin-right: 25px;
    width: 50%;
    border-radius: 50%;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

.inicio-section .image-container img {
    display: block;
    width: 100%;
    height: auto;
    border-radius: 0%;
}

/* Estilos para la caja "Recursos Digitales" */
.recursos-digitales-box {
    display: flex; /* Cambiamos el display a inline-block para que aparezca debajo del texto */
    background-color: #f2f2f2;
    padding: 15px;
    border-radius: 8px;
    text-align: center;
    margin-top: 40px; /* Reducimos la separación superior */
    margin-bottom: 20px;
    text-decoration: none;
    color: #333;
    font-size: 18px;
    font-weight: bold;
    transition: background-color 0.3s ease;
    max-width: 300px;
    margin: 0 auto; /* Centramos horizontalmente la caja */
    border: 2px solid #333;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* Efecto al pasar el mouse por encima de la caja */
.recursos-digitales-box:hover {
    background-color: #e0e0e0;
}

/* Estilos adicionales para ajustar la separación entre el texto y la imagen */
.inicio-section .content {
    padding-right: 25px; /* Agregamos padding derecho para separar el texto de la imagen */
}

@media screen and (max-width: 900px) {
    .inicio-section .image-container {
        margin-right: 0; /* Eliminamos el margen derecho en pantallas más pequeñas */
        margin-bottom: 20px; /* Agregamos un margen inferior para separar la imagen del texto */
    }
}

/* Estilos para la sección de equipo */
.team-section {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px 0;
    background-color: #f9f9f9;
}

.team-section .team-introduction {
    text-align: center;
    margin-bottom: 30px;
}

.team-section .team-introduction h2 {
    font-size: 24px;
    font-weight: bold;
    color: #333;
}

.team-section .team-introduction p {
    font-size: 16px;
    color: #666;
}

.team-section .wrapper {
    max-width: 1100px;
    width: 100%;
    position: relative;
}

.team-section .wrapper i {
    top: 50%;
    height: 50px;
    width: 50px;
    cursor: pointer;
    font-size: 1.25rem;
    position: absolute;
    text-align: center;
    line-height: 50px;
    background: #f3bc6950;
    border-radius: 50%;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.23);
    transform: translateY(-50%);
    transition: transform 0.1s linear;
}

.team-section .wrapper i:active {
    transform: translateY(-50%) scale(0.85);
}

.team-section .wrapper i:first-child {
    left: 10px;
}

.team-section .wrapper i:last-child {
    right: 10px;
}

.team-section .carousel {
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: calc((100% / 3) - 12px);
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    gap: 16px;
    border-radius: 8px;
    scroll-behavior: smooth;
    scrollbar-width: none;
}

.team-section .carousel::-webkit-scrollbar {
    display: none;
}

.team-section .carousel.no-transition {
    scroll-behavior: auto;
}

.team-section .carousel.dragging {
    scroll-snap-type: none;
    scroll-behavior: auto;
}

.team-section .carousel.dragging .card {
    cursor: grab;
    user-select: none;
}

.team-section .carousel :where(.card, .img) {
    display: flex;
    justify-content: center;
    align-items: center;
}

.team-section .carousel .card {
    scroll-snap-align: start;
    height: 342px;
    list-style: none;
    background: #fff;
    cursor: pointer;
    padding-bottom: 15px;
    flex-direction: column;
    border-radius: 8px;
}

.team-section .carousel .card .img {
    background: #f5c869;
    height: 148px;
    width: 148px;
    border-radius: 50%;
}

.team-section .carousel .card .img img {
    width: 140px;
    height: 140px;
    border-radius: 50%;
    object-fit: cover;
    border: 4px solid #fff;
}

.team-section .carousel .card h2 {
    font-weight: 500;
    font-size: 1.56rem;
    margin: 30px 0 5px;
}

.team-section .carousel .card {
    transition: background-color 0.3s ease; /* Agrega una transición para el efecto */
}


/* Agrega un sombreado al pasar el mouse por encima de la tarjeta */
.team-section .carousel .card:hover {
    background-color: #f2f2f2; 
}

/* Estilos para los iconos de redes sociales */
.team-section .carousel .card .social-icons {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.team-section .carousel .card .social-icons a {
    margin: 0 8px; /* Aumenta el espacio entre los iconos */
    /* Ajusta el tamaño de los iconos */
    width: 40px;
    height: 40px;
    border-radius: 50%;
    overflow: hidden;
    transition: transform 0.3s, box-shadow 0.3s; /* Agrega una transición para el efecto */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); /* Agrega una sombra inicial */
}

.team-section .carousel .card .social-icons img {
    width: 100%; /* Asegura que la imagen del icono llene todo el espacio */
    height: 100%;
}

/* Efecto al pasar el mouse por encima de los iconos */
.team-section .carousel .card .social-icons a:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); /* Cambia la sombra al pasar el mouse por encima */
    transform: translateY(-2px); /* Eleva ligeramente el icono */
}

@media screen and (max-width: 900px) {
    .team-section .wrapper .carousel {
        grid-auto-columns: calc((100% / 2) - 9px);
    }
}

@media screen and (max-width: 600px) {
    .team-section .wrapper .carousel {
        grid-auto-columns: 100%;
    }
}

/* Estilos para la sección Descripción */
.descripcion-section {
    padding: 50px 0;
    background-color: #f9f9f9;
}

.descripcion-section .wrapper {
    max-width: 1100px;
    width: 100%;
    margin: 0 auto;
}

/*
.descripcion-section .content {
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}
*/

.descripcion-section h2 {
    text-align: center;
    font-size: 28px;
    font-weight: bold;
    color: #333;
    margin-bottom: 20px;
    padding-left: 25px;
}

.descripcion-section p {
    text-align: center;
    font-size: 16px;
    line-height: 1.6;
    color: #666;
    padding-left: 25px;
}

/* Estilos para la sección de Variables */
.variables-section {
    padding: 50px 0;
    background-color: #f9f9f9;
}

.variables-section .wrapper {
    max-width: 1100px;
    width: 100%;
    margin: 0 auto;
}

/*
.variables-section .content {
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}
*/

.variables-section h2 {
    text-align: center;
    font-size: 28px;
    font-weight: bold;
    color: #333;
    margin-bottom: 20px;
}

.variables-section h3 {
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    color: #333;
    margin-bottom: 10px;
}

.variables-section p {
    text-align: center;
    font-size: 16px;
    line-height: 1.6;
    color: #666;
    margin-bottom: 20px;
}

.variables-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

.variable-card {
    padding: 20px;
    background-color: #f5f5f5;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease; /* Agregar transición de cambio de color de fondo */
}

.variable-card:hover {
    background-color: #f0f0f0; /* Cambiar el color de fondo al pasar el mouse sobre la tarjeta */
}

/* Estilos para la sección de Conclusiones */
.conclusiones-section {
    padding: 50px 0;
    background-color: #f9f9f9;
}

.conclusiones-section .wrapper {
    max-width: 1100px;
    width: 100%;
    margin: 0 auto;
}

/*
.conclusiones-section .content {
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}
*/

.conclusiones-section h2 {
    text-align: center;
    font-size: 28px;
    font-weight: bold;
    color: #333;
    margin-bottom: 20px;
}

.conclusiones-section p {
    text-align: center;
    padding-left: 25px;
    font-size: 16px;
    line-height: 1.6;
    color: #666;
    margin-bottom: 20px;
}

.conclusiones-section ul {
    list-style: disc;
    margin-left: 20px;
}

.conclusiones-section li {
    text-align: justify;
    padding-left: 30px;
    font-size: 16px;
    line-height: 1.6;
    color: #666;
    margin-bottom: 10px;
}

/* Estilos para la sección de Agradecimientos */
.agradecimientos-section {
    padding: 50px 0;
    background-color: #f9f9f9;
}

.agradecimientos-section .wrapper {
    max-width: 1100px;
    width: 100%;
    margin: 0 auto;
}

/*
.agradecimientos-section .content {
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}
*/

.agradecimientos-section h2 {
    text-align: center;
    font-size: 28px;
    font-weight: bold;
    color: #333;
    margin-bottom: 20px;
}

.agradecimientos-section p {
    text-align: center;
    font-size: 16px;
    line-height: 1.6;
    color: #666;
    margin-bottom: 20px;
}

.agradecimientos-section ul {
    list-style: disc;
    margin-left: 20px;
}

.agradecimientos-section li {
    text-align: justify;
    font-size: 16px;
    line-height: 1.6;
    color: #666;
    margin-bottom: 10px;
}

/* Estilos para la sección de Pie de Página */
.footer-section {
    background-color: #333;
    color: #fff;
    padding: 20px 0;
}

.footer-section .wrapper {
    max-width: 1100px;
    width: 100%;
    margin: 0 auto;
}

.footer-section .content {
    text-align: center;
}

.footer-section .footer-nav ul {
    list-style: none;
    padding: 0;
    margin-bottom: 10px;
}

.footer-section .footer-nav li {
    display: inline;
    margin-right: 15px;
}

.footer-section .footer-nav a {
    color: #fff;
    text-decoration: none;
    font-size: 14px;
}

.footer-section .footer-nav a:hover {
    text-decoration: underline;
}

.footer-section p {
    font-size: 14px;
    margin-bottom: 5px;
}

.footer-section p:last-child {
    margin-bottom: 0;
}

/* Ajuste para centrar los enlaces */
.footer-section .footer-nav {
    display: flex;
    justify-content: center;
}

/* Media query para ajustar el pie de página en pantallas pequeñas */
@media screen and (max-width: 600px) {
    .footer-section .footer-nav {
        flex-wrap: wrap;
        justify-content: center;
    }

    .footer-section .footer-nav li {
        display: inline;
        margin: 5px;
    }
}

